{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block body %}
    <h1>Member</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ member.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ member.lastName }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ member.tel }}</td>
            </tr>
            <tr>
                <th>Quartier</th>
                <td>{{ member.quartier }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ member.nationalite }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ member.createdAt ? member.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsMember</th>
                <td>{{ member.isMember ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>MemberJoinedDate</th>
                <td>{{ member.memberJoinedDate ? member.memberJoinedDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IsBaptized</th>
                <td>{{ member.isBaptized ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>BaptismDate</th>
                <td>{{ member.BaptismDate ? member.BaptismDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>HasTransport</th>
                <td>{{ member.hasTransport ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>TransportDate</th>
                <td>{{ member.transportDate ? member.transportDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IsInHomeCell</th>
                <td>{{ member.isInHomeCell ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>HomeCellJoinDate</th>
                <td>{{ member.homeCellJoinDate ? member.homeCellJoinDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ member.observations }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_member_index') }}">back to list</a>

    <a href="{{ path('app_member_edit', {'id': member.id}) }}">edit</a>

    {{ include('member/_delete_form.html.twig') }}
{% endblock %}
